<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="template.css">
        <style>
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            body {

                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="print-cards">
            {{#each issues}}
            <div class="print-card break" style="width: 100%; height: 100%;">
                <div class="print-card-wrapper" style="top: 5mm; right: 5mm; bottom: 5mm; left: 5mm; outline-width: 0px;">
                    <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
                        <!-- KR code -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 0%; top: 0%; width: 100%; height: 13.33%; text-align: right; line-height: normal; overflow: hidden;">
                            <img src="{{krCode}}" style="position:absolute; display:inline-block; top:0; left:0;width:100%;">
                        </div>

                        <!-- Issue key -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 0%; top: 13.33%; width: 63.33%; height: 10%; text-align: left; line-height: normal; overflow: hidden;">

                            <span style="font-weight: bold; font-style: normal;; font-size: 24px;">{{key}}</span>

                        </div>

                        <!-- Story points background -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 63.33%; top: 13.33%; width: 20%; height: 6.67%; text-align: center; line-height: normal; overflow: hidden;">
                            <img src="sp-bg.png" style="display: inline-block; height: 100%;">
                        </div>

                        <!-- Story points -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 63.33%; top: 13.33%; width: 20%; height: 6.67%; text-align: center; line-height: normal; overflow: hidden; ">
                            <span style="font-weight: bold; font-style: normal; font-size: 20px;">{{fields.customfield_10026}}</span>
                        </div>

                        <!-- Priority -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 83.33%; top: 13.33%; width: 16.66%; height: 10%; text-align: center; line-height: normal; overflow: hidden;">
                            <span style="font-weight: normal; font-style: normal; font-size: 15px;">
                                <img class="flexible-field-image flexible-field-image-right" src="{{fields.priority.iconUrl}}" style="max-width: 16px; max-height: 16px;">
                                <!-- <img class="flexible-field-image flexible-field-image-right" src="major.svg" style="max-width: 16px; max-height: 16px;"> -->
                            </span>

                        </div>

                        <!-- Issue summary -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 0%; top: 23.33%; width: 100%; height: 16.67%; text-align: left; line-height: normal; overflow: hidden;">

                            <span style="font-weight: bold; font-style: normal;; font-size: 15px;">{{fields.summary}}</span>

                        </div>

                        <!-- Description -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 0%; top: 40%; width: 100%; height: 50%; text-align: left; line-height: normal; overflow: hidden;">

                            <span style="font-weight: normal; font-style: normal; font-size: 15px;">{{fields.description}}</span>

                        </div>

                        <!-- Parent image -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 0%; top: 90%; width: 13.33%; height: 6.66%; text-align: left; line-height: normal; overflow: hidden;">
                            <img src="./vader.jpg" style="display: inline-block; height: 100%;">
                        </div>

                        <!-- Parent -->
                        <div
                            class="flexible-field"
                            style="position: absolute; left: 16.66%; top: 90%; width: 83.33%; height: 10%; text-align: left; line-height: normal; overflow: hidden;">

                            <span style="font-weight: bold; font-style: normal;; font-size: 10px;">{{fields.parent.key}} {{fields.parent.fields.summary}}</span>

                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </body>
</html>
