#cards-generating-info {
    text-align: center;
}

.controls {
    display: table;
    width: 100%;
    padding: 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    box-sizing: border-box;
}

.controls .aui-button {
    margin: 0;
}

.controls .aui-button[disabled] {
    border: 1px solid transparent;
    opacity: .5;
}

.controls-buttons,
.controls-zoom,
.controls-pagination {
    display: table-cell;
}

.controls-zoom {
    text-align: left;
    width: calc(100% * 1 / 3);
}

.controls-buttons {
    text-align: right;
    width: calc(100% * 1 / 3);
}

.controls-pagination {
    text-align: center;
}

.pagination-container {
    display: inline;
}

.pagination {
    display: table-row;
}

.pagination-prev,
.pagination-text,
.pagination-counter,
.pagination-side,
.pagination-next {
    display: table-cell;
}

.pagination-text {
    display: table-cell;
    padding: 0 5px;
}

.pagination-side {
    width: 100px;
    text-align: center;
}

.pagination-separator {
    margin: 0 3px;
}

.pagination-counter {
    padding: 0 5px;
}

.pagination .aui-icon {
    vertical-align: -5px;
}

.pagination-prev .aui-icon {
    -ms-transform: scale(-1.5, 1.5);
    transform: scale(-1.5, 1.5);
}

.pagination-next .aui-icon {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

#pdf-renderer-progress-bar {
    margin-top: 10px;
}

.print-cards-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.icon-button-text {
    vertical-align: middle;
}

.print-cards {
    width: 100%;
}

.print-card {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    page-break-inside: avoid;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.print-card-zoom {
    -webkit-transform: scale(3, 3); /* Safari */
    -webkit-transform-origin: 1px 1px;

    transform: scale(3, 3);
    transform-origin: 1px 1px;
}

.print-card-container {
    position: absolute;
    visibility: collapse;
}

.print-card.break {
    page-break-after: always;
    page-break-before: none;
    page-break-inside: avoid;
}

.print-issue-key {
    font-weight: bold;
}

.print-card-wrapper {
    text-align: left;
    position: absolute;
    overflow: hidden;
}

.print-card-image {
    margin-right: 10px;
}

.print-card-priority-icon {
    vertical-align: middle;
    max-width: 16px;
    max-height: 16px;
}

.print-card-field, .flexible-field {
    word-wrap: break-word;
}

.print-card-marker-horizontal, .print-card-marker-vertical {
    position: absolute;
    border: none;
}

.print-card-marker-horizontal {
    border-top: 1pt solid transparent;
    height: 0;
    width: 15px;
}

.print-card-marker-vertical {
    border-left: 1pt solid transparent;
    height: 15px;
    width: 0;
}

.print-card-marker-top {
    top: 0;
}

.print-card-marker-bottom {
    bottom: 0;
}

.print-card-marker-left {
    left: 0;
}

.print-card-marker-right {
    right: 0;
}

.cut-marker-visible {
    border-color: #A0A0A0 !important;
}

.print-issue-summary {
    font-weight: bold;
    margin: 5px 0;
    word-wrap: break-word;
}

table.confluenceTable {
    border-collapse: collapse;
    margin: 5px 0 5px 2px;
    width: auto;
}

th.confluenceTh {
    border: 1px solid #cccccc;
    background: #f5f5f5;
    padding: 3px 4px 3px 4px;
    text-align: center;
}

td.confluenceTd {
    border: 1px solid #cccccc;
    padding: 3px 4px 3px 4px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.overflow-hidden {
    overflow: hidden; /* Hack - unexpectedly when container has this style its floated elements are counted while container's height is calculated, can be used instead of "clear: both" */
}

.controls,
.settings-header,
#cards-generating-info,
#back-to-templates {
    display: none;
}

.print-page,
.print-pages,
.zoom-area,
.zoom-area-inner,
.zoom-area-outer,
#preview {
    display: inline;
    padding: 0;
    width: auto;
    height: auto;
    float: none;
}

#preview {
    border-top: 0;
}

form.aui {
    margin: 0;
    height: 100%;
}

.print-cards-container {
    height: 100% !important;
    width: auto !important;
}

.print-cards {
    height: 100%;
    transform: none !important;
}
